In [1]:
import numpy as np
import pandas as pd

In [244]:
df=pd.read_csv("TeluguMovies_dataset.csv",skipinitialspace=True)
df.fillna("")
df1=df
df

,index,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings
0,0,Bahubali: The Beginning,2015.0,UA,"Action, Drama","In ancient India, an adventurous and darin...",159,8.1,99114
1,1,Baahubali 2: The Conclusion,2017.0,UA,"Action, Drama","When Shiva, the son of Bahubali, learns ab...",167,8.2,71458
2,2,1 - Nenokkadine,2014.0,UA,"Action, Thriller",A rock star must overcome his psychological in...,170,8.1,42372
3,3,Dhoom:3,2013.0,UA,"Action, Thriller","When Sahir, a circus entertainer trained i...",172,5.4,42112
4,4,Ra.One,2011.0,U,"Action, Adventure, Sci-Fi",When the titular antagonist of an action g...,156,4.6,37211
...,...,...,...,...,...,...,...,...,...
1395,1395,Maro Monagadu,1985.0,NaN,NaN,NaN,0,8.6,49
1396,1396,Jakkanna,2016.0,NaN,"Comedy, Drama",The movie is about an attempt by Sunil the pro...,0,6.3,49
1397,1397,Muvva Gopaludu,1987.0,NaN,"Drama, Romance",Muvva Gopaludu is a 1987 Indian Telugu fil...,137,7.8,49
1398,1398,Ninney Ishta Paddaanu,2003.0,U,NaN,Hero Charan (Tarun) a middle class family ...,0,5.9,49
1399,1399,9 Nelalu,2001.0,U,Drama,"Surendra marries Savitri, an orphan. In a ...",0,7.3,49

In [245]:
df.dtypes

index              int64
Movie             object
Year             float64
Certificate       object
Genre             object
Overview          object
Runtime            int64
Rating           float64
No.of.Ratings      int64
dtype: object

In [246]:
cols=["Movie","Certificate","Genre","Overview"]
for col in cols:
    df[col]=df[col].str.strip()
    df[col]=df[col].str.replace(',','')
    df[col]=df[col].fillna('')

In [247]:
df

,index,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings
0,0,Bahubali: The Beginning,2015.0,UA,Action Drama,In ancient India an adventurous and daring man...,159,8.1,99114
1,1,Baahubali 2: The Conclusion,2017.0,UA,Action Drama,When Shiva the son of Bahubali learns about hi...,167,8.2,71458
2,2,1 - Nenokkadine,2014.0,UA,Action Thriller,A rock star must overcome his psychological in...,170,8.1,42372
3,3,Dhoom:3,2013.0,UA,Action Thriller,When Sahir a circus entertainer trained in mag...,172,5.4,42112
4,4,Ra.One,2011.0,U,Action Adventure Sci-Fi,When the titular antagonist of an action game ...,156,4.6,37211
...,...,...,...,...,...,...,...,...,...
1395,1395,Maro Monagadu,1985.0,,,,0,8.6,49
1396,1396,Jakkanna,2016.0,,Comedy Drama,The movie is about an attempt by Sunil the pro...,0,6.3,49
1397,1397,Muvva Gopaludu,1987.0,,Drama Romance,Muvva Gopaludu is a 1987 Indian Telugu film Di...,137,7.8,49
1398,1398,Ninney Ishta Paddaanu,2003.0,U,,Hero Charan (Tarun) a middle class family guy ...,0,5.9,49
1399,1399,9 Nelalu,2001.0,U,Drama,Surendra marries Savitri an orphan. In a turn ...,0,7.3,49

In [248]:
def combine(row):
    try:
        return row["Genre"]+" "+row["Overview"]
    except:
        print("Error : ",row)

In [249]:
df["all_aspects"]=df.apply(combine,axis=1)
df.fillna(" ")

,index,Movie,Year,Certificate,Genre,Overview,Runtime,Rating,No.of.Ratings,all_aspects
0,0,Bahubali: The Beginning,2015.0,UA,Action Drama,In ancient India an adventurous and daring man...,159,8.1,99114,Action Drama In ancient India an adventurous a...
1,1,Baahubali 2: The Conclusion,2017.0,UA,Action Drama,When Shiva the son of Bahubali learns about hi...,167,8.2,71458,Action Drama When Shiva the son of Bahubali le...
2,2,1 - Nenokkadine,2014.0,UA,Action Thriller,A rock star must overcome his psychological in...,170,8.1,42372,Action Thriller A rock star must overcome his ...
3,3,Dhoom:3,2013.0,UA,Action Thriller,When Sahir a circus entertainer trained in mag...,172,5.4,42112,Action Thriller When Sahir a circus entertaine...
4,4,Ra.One,2011.0,U,Action Adventure Sci-Fi,When the titular antagonist of an action game ...,156,4.6,37211,Action Adventure Sci-Fi When the titular antag...
...,...,...,...,...,...,...,...,...,...,...
1395,1395,Maro Monagadu,1985.0,,,,0,8.6,49,
1396,1396,Jakkanna,2016.0,,Comedy Drama,The movie is about an attempt by Sunil the pro...,0,6.3,49,Comedy Drama The movie is about an attempt by ...
1397,1397,Muvva Gopaludu,1987.0,,Drama Romance,Muvva Gopaludu is a 1987 Indian Telugu film Di...,137,7.8,49,Drama Romance Muvva Gopaludu is a 1987 Indian ...
1398,1398,Ninney Ishta Paddaanu,2003.0,U,,Hero Charan (Tarun) a middle class family guy ...,0,5.9,49,Hero Charan (Tarun) a middle class family guy...
1399,1399,9 Nelalu,2001.0,U,Drama,Surendra marries Savitri an orphan. In a turn ...,0,7.3,49,Drama Surendra marries Savitri an orphan. In a...

In [250]:
df["all_aspects"].head()

0    Action Drama In ancient India an adventurous a...
1    Action Drama When Shiva the son of Bahubali le...
2    Action Thriller A rock star must overcome his ...
3    Action Thriller When Sahir a circus entertaine...
4    Action Adventure Sci-Fi When the titular antag...
Name: all_aspects, dtype: object

In [251]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
count_matrix = cv.fit_transform(df["all_aspects"])

In [252]:
count_matrix

<1400x5445 sparse matrix of type '<class 'numpy.int64'>'
	with 30368 stored elements in Compressed Sparse Row format>

In [253]:
from sklearn.metrics.pairwise import cosine_similarity
co_sim=cosine_similarity(count_matrix)

In [254]:
co_sim

array([[1.        , 0.14414999, 0.05025189, ..., 0.13997313, 0.06154575,
        0.21105794],
       [0.14414999, 1.        , 0.27888668, ..., 0.22194838, 0.29277002,
        0.19123658],
       [0.05025189, 0.27888668, 1.        , ..., 0.        , 0.10206207,
        0.1       ],
       ...,
       [0.13997313, 0.22194838, 0.        , ..., 1.        , 0.22742941,
        0.09284767],
       [0.06154575, 0.29277002, 0.10206207, ..., 0.22742941, 1.        ,
        0.16329932],
       [0.21105794, 0.19123658, 0.1       , ..., 0.09284767, 0.16329932,
        1.        ]])

In [255]:
def movie_index(movie_name):
    return df[df.Movie == movie_name]["index"].values[0]

In [256]:
movie_index("Jakkanna")

1396

In [257]:
def movie_title(movie_index1):
    return df[df.index == movie_index1]["Movie"].values[0]

In [258]:
movie_title(1244)

'Bamma Maata Bangaru Baata'

In [272]:
similar_movies=list(enumerate(co_sim[movie_index(input("Enter movie name : "))]))

In [273]:
similar_movies=sorted(similar_movies,key=lambda x:x[1],reverse=True)

In [275]:
i=0
for movie in similar_movies:
    print(movie_title(similar_movies[i][0]))
    i+=1
    if i>=5:
        break

Rebel
Allari Ramudu
Nirnayam
Donga Police
Peddarikam